

body{
	background-color:#DDDDDD;
	margin:0;
}
#top{
	background-color:#f4099e;
	width:100%;
	height:100px;
}

#background{
	width:85%;
	height:1200px;

	
	margin:0 auto;
	background-color:WHITE;
	
	
	
}
/*header{
	width:98%;
	height:30%;
	background-color:WHITE;
	border-radius: 20px 20px  0px 0px;
	margin:0 auto;
	padding:10px;
	
}*/

section{
	
	width:100%;
	height:50%;

	
	/*background-color:ORANGE;*/
	
	
}


article{
	
	width:84%;
	height:60%;
	margin:0 auto;
	padding: 50px;
	
	
	/*background-color:OLIVE;*/
	
}

footer{
	width:100%;
	height:20%;
	background-color:BLACK;
}

footer p{
	
	color: #DDDDDD;
	font-size:15px;
	margin-left:10px;
	text-align:left;
	
}

 #ufrpe{
	
	height:100%;
	overflow: hidden;
	background-image: url("images/ufrpe.jpg");
	background-repeat:no-repeat;
	
}

#div_img{
	margin:0 auto;
	height:100%;
	
	overflow: hidden;
	background-image: url("images/logo.png");
	background-repeat:no-repeat;
	background-position:center;
}
hr{
	
	height:10px;
	background-color:#19aef4;
	border:0px;
	margin:0px;
}

p{
	width:80%;
	text-align:center;
	margin:1% auto;
	font-size: 20px;
}
img{
	margin:0 auto;
}


#cab{
	width:90%;
	font-size: 60px;
	height:20%;
	margin: 70px auto;
	font-family: 'Eczar', serif;
	text-shadow: 2px 2px 5px GRAY;
	
}



